<% include commons/partials/header %>

<div class="hero">
  <a href="/projects" class="btn btn-default">Share your cause</a>
</div>

<div class="container">
</div>

<% include commons/partials/footer %>
